{% extends 'Admin/admin_index.html' %}
{% block body %}
<body>
<form action="shop_sch#about" method="post" enctype="multipart/form-data" name="form1" id="form1">
  <table width="269" border="1"class="table table-dark">
    <tr>
      <th colspan="6">Name:
        <label>
        <input type="text" name="textfield" />
        <input type="submit" name="Submit" value="Go" class="btn btn-outline-success"/>
        </label></th>

    </tr>
    <tr>
      <th>SlNo</th>
      <td>Name</td>
      <td>Address</td>
      <td>Phone</td>
      <td>Email</td>
      <td >&nbsp;</td>

    </tr>
      {% for i in val %}
    <tr>
      <th >&nbsp;{{ forloop.counter }}</th>
      <td>&nbsp;{{ i.name }}<br><img src="{{ i.photo.url }}"width="100 " height="100"> </td>
      <td>&nbsp;{{ i.place }}<br/>{{ i.post }}<br/>{{ i.pin }}</td>
      <td>{{ i.phone }}&nbsp;</td>
        <td>{{ i.email }}</td>

      <td>{% if i.LOGIN.type == "pending" %}<p><a href="/accept_hw/{{ i.LOGIN.id }}#about" class="btn btn-success">Accept</a></p>
      <p><a href="/reject_hw/{{ i.LOGIN.id }}#about" class="btn btn-danger">Reject</a></p>
    {% elif i.LOGIN.type == "Reject" %}
        Rejected
    {% else %}
        Accepted
    {% endif %}
      </td>
    </tr>
  {% endfor %}
  </table>
</form>
</body>

{% endblock %}