{#<!doctype html>#}
{#<html lang="en">#}
<html>
{%  load static %}
  <head>
  	<title>Vue</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

       <link href="../../static/assets/img/eye.png" rel="icon">

	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	
	<link rel="stylesheet" href="../../static/login/css/style.css">

	</head>
	<body class="img js-fullheight" style="background-image: url(../../static/login/images/bgg.jpg);">
	<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-6 text-center mb-5">
					<h2 class="heading-section">Vue Login</h2>
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-md-6 col-lg-4">
					<div class="login-wrap p-0">
{#		      	<h3 class="mb-4 text-center">Have an account?</h3>#}
		<form action="userRegistration" method="post" enctype="multipart/form-data" name="form1" id="form1">
  <table width="200" border="1"class="table table-dark">
    <tr>
      <th scope="row">First Name </th>
      <td><label>
        <input type="text" name="textfield"required pattern="[A-Z a-z.]{3,25}" />
      </label></td>
    </tr>
    <tr>
      <th scope="row">Last Name </th>
      <td><label>
        <input type="text" name="textfield2"required pattern="[A-Z a-z.]{3,25}" />
      </label></td>
    </tr>
    <tr>
      <th scope="row">Place</th>
      <td><label>
        <input type="text" name="textfield3"required pattern="[A-Z a-z.]{3,25}" />
      </label></td>
    </tr>
    <tr>
      <th scope="row">Post</th>
      <td><label>
        <input type="text" name="textfield4" required pattern="[A-Z a-z.]{3,25}"/>
      </label></td>
    </tr>
    <tr>
      <th scope="row">Pin</th>
      <td><label>
        <input type="text" name="textfield5" required pattern="[0-9]{6}"/>
      </label></td>
    </tr>
    <tr>
      <th scope="row">Phone no </th>
      <td><label>
        <input type="text" name="textfield6"required pattern="[6789][0-9]{9}" />
      </label></td>
    </tr>
    <tr>
      <th scope="row">Email</th>
      <td><label>
        <input type="email" name="textfield7"required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}" />
      </label></td>
    </tr>
    <tr>
      <th scope="row">Photo</th>
      <td><label>
        <input type="file" name="file" required/>
      </label></td>
    </tr>
    <tr>
      <th scope="row">Username</th>
      <td><label>
        <input type="text" name="textfield8" required/>
      </label></td>
    </tr>
    <tr>
      <th scope="row">Password</th>
      <td><label>
        <input type="password" name="textfield9" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" required />
      </label></td>
    </tr>
    <tr>
      <td align="center" colspan="2" scope="row"><label>
        <input type="submit" name="Submit" value="Register" />
      </label></td>
    </tr>
  </table>
</form>
{#	          <p class="w-100 text-center">&mdash; Or Sign In With &mdash;</p>#}
{#	          <div class="social d-flex text-center">#}
{#	          	<a href="#" class="px-2 py-2 mr-md-1 rounded"><span class="ion-logo-facebook mr-2"></span> Facebook</a>#}
{#	          	<a href="#" class="px-2 py-2 ml-md-1 rounded"><span class="ion-logo-twitter mr-2"></span> Twitter</a>#}
{#	          </div>#}
		      </div>
				</div>
			</div>
		</div>
	</section>

	<script src="../../static/login/js/jquery.min.js"></script>
  <script src="../../static/login/js/popper.js"></script>
  <script src="../../static/login/js/bootstrap.min.js"></script>
  <script src="../../static/login/js/main.js"></script>

	</body>
</html>

